<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
<th:block th:fragment="header">
    <div class='header'>
        <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
          <form>
	          <button type="submit" class="btn btn-dark" formaction="/">
	         	<i class="fab fa-fort-awesome-alt"></i>
	            <strong>Home</strong>
	          </button> 
          </form>
          <form>
	          <button type="submit" class="btn btn-dark" formaction="/admin">
	         	<i class="fas fa-briefcase"></i>
	            <strong>Gestione</strong>
	          </button> 
          </form>  	  		
          </a>
          <form>
	          <button type="submit" class="btn btn-dark" formaction="/logout" style="position: relative; right:0;">
	        		<i class="fas fa-user-astronaut"></i>
	           		<strong>Logout</strong>
	          </button>
          </form> 
        </div>
      </div>
    </div>
    <div class='h100px'></div>
</th:block>
</body>