<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Spring Security Example</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">


</head>
<body class="text-center">
	
		<form class="form-signin" th:action="@{/login}" method="post">
			<!-- <img class="mb-4" th:src="@{/images/budapest.jpg}" alt="" width="72"
				height="72"> -->
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div class="container">
			<div class="container">
				<input type="text" name="username" class="form-control"
					placeholder="User name" required autofocus>
			
			
			<div class="d-flex justify-content-between align-items-center">
				<input type="password" name="password" class="form-control"
					placeholder="Password" required>
			</div>
			<div class="checkbox mb-3">
				<label> <input type="checkbox" value="remember-me">
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				value="Sign In">Sign in</button>
				</div>
			</div>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
	

</body>
</html>